{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% block css %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img
            src="{% static 'images/header-logo.svg' %}"
            alt="The Cat Collector Logo"
          />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/about">All Cats</a></li>
          <li><a href="/about">All Cat Toys</a></li>
          <li><a href="/about">Add a Cat</a></li>
          <li><a href="/about">Add a Toy</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/about">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %} Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Ipsam ducimus ab similique cum maxime tempora nam
      quaerat saepe aperiam? Dolore incidunt consequuntur fugit sequi rem saepe
      laboriosam culpa fugiat expedita. Delectus, unde adipisci placeat optio
      vel quo in ab ex consectetur. Maxime quod molestiae inventore iusto totam
      rerum beatae hic officia animi nulla? Omnis facere repellat quidem
      possimus. Veritatis, voluptas. Soluta ut mollitia officia fuga facere
      architecto, vero aliquid. A mollitia aliquid voluptas illo atque corporis
      numquam beatae, doloribus quas quasi eligendi debitis vero. Magnam est
      quos quibusdam dolores aut! Enim nam qui dicta ratione nesciunt quos,
      ullam, id tempore, repudiandae officia distinctio perferendis expedita
      illum officiis sit laborum saepe? A, inventore nulla sequi pariatur
      quaerat velit! Dolorum, vel atque. Dolorum quisquam assumenda odio ipsam
      quo molestias provident nam voluptatum odit illo ipsum enim facere nulla
      rem in soluta, at doloribus voluptate! At error eum expedita recusandae
      harum nulla dignissimos. Porro ad praesentium asperiores architecto nemo
      amet dicta velit dolore nam. Praesentium iste repellat aspernatur, quia id
      porro asperiores quisquam, ipsum incidunt fugiat modi doloribus reiciendis
      voluptate nihil voluptatibus eum! At excepturi incidunt et quod,
      praesentium maxime natus repellendus vel suscipit voluptates
      exercitationem repellat quo inventore ullam nisi! Voluptate quidem
      incidunt facere blanditiis sequi tenetur non sed, magnam inventore
      debitis. Nesciunt officiis ipsum explicabo impedit repellendus? Id ad
      quidem autem dolorum, architecto eius est. Eveniet inventore reiciendis
      maxime alias excepturi, veniam vel, voluptatibus dolorem amet molestiae,
      minima autem labore saepe? Ducimus iure excepturi aliquid ipsum molestias
      sit! Corporis ab nam quaerat placeat deserunt, eligendi nobis hic
      inventore dolores voluptate iusto similique, voluptatum sit excepturi non
      nihil architecto animi laudantium tempore! Asperiores quasi, pariatur et,
      corrupti natus mollitia facere velit eligendi obcaecati nobis molestiae
      rerum labore, quisquam dicta est doloribus culpa ipsam at. Temporibus
      tempore illum nesciunt ut id veritatis inventore! Veniam praesentium,
      reprehenderit sit possimus ea dolores inventore tempore voluptas magnam,
      itaque voluptatem voluptate. Quae, doloribus dolorum quas quod quos rerum
      repellat enim dolore illo minima officia, eligendi dolores facere!
      Consectetur reiciendis, repudiandae, accusantium ab pariatur quas,
      explicabo nulla numquam minima hic maxime repellat sit at ut deleniti
      harum? Asperiores, corrupti eos quisquam dolorem quaerat architecto
      recusandae praesentium molestiae molestias! Magnam, sed? Amet fugit ea
      aliquam veritatis facere deleniti ipsam debitis magnam necessitatibus,
      accusantium ducimus dolores accusamus nulla, repellat unde excepturi nam
      dignissimos cum nobis possimus id exercitationem dolorem perferendis!
      Mollitia quisquam qui soluta maiores ut ea aliquam cupiditate nostrum, non
      quis repellat iure suscipit rem corrupti perspiciatis labore ipsum,
      pariatur aspernatur? Ab placeat quis a fugiat laudantium quos consequatur.
      Autem et vitae, quis praesentium omnis perspiciatis commodi. Animi minus,
      distinctio dolorem molestiae deleniti dolores similique, sed, perferendis
      amet rerum ullam odio illo. Delectus tempore fugit voluptatum, vel eius
      quasi! Iusto tenetur nesciunt necessitatibus culpa incidunt, reprehenderit
      non minima veniam assumenda odit. At ullam doloribus provident architecto
      molestiae, temporibus quisquam amet commodi? Mollitia cumque qui porro ea
      corporis voluptatum consequuntur? Nam, suscipit. Laboriosam, quaerat natus
      aspernatur tempore iusto enim esse ut error quia at rerum, perferendis
      molestiae dolorum velit quo corrupti sed nesciunt, provident omnis.
      Dolorum omnis inventore a aperiam! Possimus assumenda cum rem impedit.
      Amet numquam molestiae adipisci suscipit. Sint cum quas consectetur odit
      quam atque eveniet nisi fuga? Cumque iusto inventore rem aut tempora
      expedita numquam illum earum? Nihil eum debitis at ut quis ex accusamus
      ratione quo dolores magnam facere fugiat magni ipsa a aspernatur
      reiciendis maiores, nisi ipsum cupiditate, repellat libero! Obcaecati ea
      molestiae mollitia! Distinctio. Vero, quidem quia aliquid consequuntur
      repellendus dolore, quaerat voluptatibus nam suscipit distinctio sapiente
      fuga beatae iure vitae nisi, molestias aspernatur minus aliquam nobis
      iusto. Magni corrupti laborum culpa nostrum error.

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, porro dolore corporis incidunt officia voluptatum, perspiciatis velit saepe pariatur, distinctio quae atque tenetur deleniti tempora corrupti ipsum ex error veritatis.
      Corporis libero voluptates pariatur sunt vel! Expedita, porro provident! Magni earum eveniet animi illum alias praesentium esse dolor adipisci? Maiores, aliquam quisquam optio delectus aperiam cumque! Soluta veritatis adipisci tempore.
      Ratione labore nulla nobis officiis aperiam vitae, vel ea soluta aut adipisci quibusdam unde totam a facilis, voluptatem nemo nostrum doloremque laborum libero numquam accusantium? Placeat praesentium optio iure ipsum!
      Praesentium magni maiores beatae, quis velit soluta nam voluptatum iure harum qui blanditiis accusamus aperiam asperiores officiis, voluptas deleniti quo quibusdam atque. Accusamus nobis, quo debitis fugiat rerum doloribus ducimus?
      Provident possimus ullam corporis neque, aperiam maiores est quaerat voluptatem temporibus ipsam hic sit iure quam culpa quisquam rem illum eligendi recusandae quos veritatis dicta explicabo debitis tempora eos. Ut.
      Fugiat praesentium officia maiores voluptates explicabo quo, laboriosam dicta non officiis doloremque nemo itaque, inventore magnam voluptate quod eaque excepturi exercitationem sed perspiciatis quia nam in. Architecto voluptas sequi minus.
      Distinctio, nostrum? Vitae, sunt, maxime, commodi maiores animi tempora nam blanditiis voluptatum ratione fugiat necessitatibus nemo consequuntur neque aliquam architecto iste repudiandae odio. Tempore reprehenderit doloremque vero sed ut beatae.
      Dolorem totam voluptate delectus quam praesentium dolore beatae veritatis, nulla reprehenderit sit dignissimos vel expedita perferendis deserunt accusamus quasi! Atque quia nisi soluta consectetur mollitia id sapiente voluptate, ipsam aut.
      Aliquam quidem doloremque consequuntur laboriosam, voluptatibus reiciendis architecto? Ullam ducimus quam tempora iusto soluta assumenda quas totam culpa impedit magni dolorem illum, exercitationem inventore atque, officiis dolore molestias nam iure.
      Architecto nostrum ratione, odit ducimus est laboriosam eaque iusto reiciendis ipsa accusamus quidem libero minima cumque delectus sit a beatae. Amet corporis quam dolorem tempore veniam, odio laborum mollitia officiis?
      Quod veniam illo repellat ducimus? Laudantium, delectus? Nobis harum dolor quis porro velit nulla a fuga, ad voluptatem id aliquam molestiae dolorum architecto delectus repellendus magni modi voluptate nisi aut.
      Quia adipisci velit recusandae eius dignissimos error nam nesciunt, deserunt sit ea, vel, veniam accusamus architecto quo commodi est quam voluptate eum iure pariatur laboriosam atque placeat? Molestiae, odit provident.
      Ratione, aliquam distinctio explicabo ipsa voluptatem iure molestiae quae enim, ducimus, dolor nihil sapiente consequatur corrupti aut soluta veniam a. Saepe velit esse vel officia quas nisi dolorem dignissimos optio!
      Aspernatur, laboriosam sequi. Harum voluptates amet, recusandae quaerat ullam et aut delectus cumque aliquam quibusdam magni iure animi minima numquam quis sed quod. Voluptate ratione nesciunt officiis consequatur unde hic.
      Officia, necessitatibus, architecto animi nihil tenetur fugit cupiditate soluta deleniti ex corporis velit totam dolorem unde repudiandae minus nam natus amet similique dolore id quas dicta iusto in. Dolorem, quidem!
      Veniam sit mollitia neque accusantium repellat ullam ab minima nam exercitationem numquam. Blanditiis, tenetur architecto nemo inventore nobis quos laborum, magnam ullam odio deleniti excepturi aspernatur recusandae incidunt, perferendis animi.
      Temporibus blanditiis aspernatur ea? Vero commodi rerum quisquam reprehenderit dolores, exercitationem maiores magnam doloremque dolore eaque blanditiis autem distinctio voluptatem? Eos hic sed praesentium eveniet asperiores neque saepe, tempora nam?
      Voluptates nisi nostrum ullam soluta amet, sunt rem id ad aperiam voluptatum harum consectetur illo sapiente quo alias corporis voluptate, iure praesentium ex quis vitae. Libero asperiores corporis ipsam quis.
      Quam id officiis harum ex fuga, repellat molestias dolore sit hic ducimus perferendis quaerat consequuntur vel a dignissimos voluptas ab iusto vero aspernatur! Quasi quod esse voluptates, ratione ducimus adipisci.
      Ea ipsa nobis deserunt illo, hic facilis pariatur, impedit quae dicta vitae itaque eius consectetur doloremque ad laudantium accusantium maiores distinctio, quibusdam sint expedita quaerat iste! Laborum facilis amet aspernatur!
      Ipsa, numquam qui cum cumque vitae vero nihil ratione quos adipisci saepe atque molestiae ipsum. Eos aperiam eum nostrum at, odit, doloremque soluta, consectetur ducimus cum dolorem provident laboriosam mollitia?
      Fugit, dolor odio numquam debitis omnis porro sequi. Doloribus maiores illo sapiente dolor quos blanditiis quidem, ipsam delectus consequuntur dolorum deleniti fugit! Eum tenetur iste distinctio cumque impedit blanditiis fugiat.
      Temporibus optio ducimus, explicabo magni, eligendi inventore modi, reprehenderit quo officiis qui repudiandae placeat! Veniam beatae et ad culpa asperiores sed rerum consequatur quis ipsum. Amet expedita illum voluptatibus doloremque.
      Unde enim temporibus delectus ducimus dolorum nemo, obcaecati dolore. Alias, minus debitis numquam suscipit tempore consectetur a dolor nemo totam nam adipisci tempora reprehenderit, ratione amet provident consequatur quos sint.
      Placeat odio temporibus impedit iure rerum enim explicabo itaque, quae facilis voluptas deleniti incidunt aliquam, nesciunt fugiat eum iusto est. Veritatis nesciunt quasi culpa, quae nobis veniam iste? Fugit, eaque!
    </main>
  </body>
</html>
