.cat-container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-img {
  width: 75%;
  max-width: 350px;
}

.cat-details h1 {
  font-size: 36px;
  margin: 15px 0 3px;
}

.cat-details h2 {
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.cat-details p {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .cat-container {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .cat-img {
    width: 20%;
    max-width: 200px;
    margin-right: 25px;
  }
}